i2g-codb {
    position: relative;

    #app {
        transition: all ease-in 0.3s;
    }

    .dark-theme {
        filter    : invert(0.85) hue-rotate(181deg) brightness(1.2) saturate(1);
        transition: all ease-in 0.3s;
    }


    .dialog-change-theme {
        animation        : show-dialog 0.3s ease;
        width            : 600px;
        // height        : 350px;
        border-radius    : 2px;
        z-index          : 1;
        background       : #fff;
        box-shadow       : 0 10px 36px #00000012;
        display          : flex;
        flex-direction   : column;

        .header-theme-dialog {
            flex-basis     : 60px;
            display        : flex;
            justify-content: space-between;
            padding        : 0 20px;
            align-items    : center;
            font-size      : 15px;
            font-weight    : bold;
            border-bottom  : 1px solid #c4c4c4;
        }

        .footer-dialog {
            font-weight    : bold;
            padding        : 20px;
            border-top     : 1px solid #E9EEF2;
            display        : flex;
            justify-content: flex-end;

            .btn-dialog {
                display      : flex;
                align-items  : center;
                padding      : 8px 12px;
                background   : #fff;
                color        : #8793A1;
                border-radius: 2px;
                margin-left  : 20px;
                border       : 1px solid #4B7DEF;
                cursor       : pointer;
                transform    : scale(1);
            }
        }

        .theme-opiton {
            flex   : 1;
            display: flex;

            &>div {
                background-position: top;
                background-repeat  : no-repeat;
                background-size    : contain;
                margin             : 40px;
                position           : relative;
                cursor             : pointer;
                transition         : all ease-in 0.1s;

                &:hover {
                    transition: all ease-in 0.1s;
                    transform : scale(0.95);
                }


                &>span {
                    position   : absolute;
                    bottom     : 0;
                    font-weight: bold;
                    left       : 50%;
                    transform  : translate(-50%, 0);
                }

            }


        }
    }
    .loading {
        top     : 0;
        position: absolute;
        width   : 100%;
        z-index : 1;
    }



    .loading-bar {
        width     : 100%;
        height    : 3px;
        background: #EBECF0;
        position  : relative;
        overflow  : hidden;
    }

    .bar-animation {
        width                    : 50%;
        height                   : 3px;
        background               : #2196F3;
        position                 : absolute;
        transition               : 1s all ease-out;
        animation-name           : loading-interminate;
        animation-duration       : 1s;
        animation-iteration-count: infinite;
    }

    @keyframes loading-interminate {
        0% {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }

    &>div {
        display : flex;
        height  : 100%;
        width   : 100%;
        overflow: hidden;
    }
    .hide-user-list {
        flex-basis: 0 !important;
    }
    .side-left {
        padding-top: 50px;
        overflow: hidden;
        transition: all ease-in 0.2s;
        flex-basis  : 250px;
        background  : #fff;
        border-right: 2px solid #dbe2e8;
    }

    .side-right {
        overflow      : hidden;
        flex          : 1;
        background    : #ecf0f3;
        display       : flex;
        flex-direction: column;

        .menu {
            flex-basis     : 34px;
            display        : flex;
            justify-content: space-between;
            padding        : 20px;
            align-items    : center;
            background     : #fff;
            border-bottom  : 2px solid #dbe2e8;


            &>div {
                display: flex;

                &>span {
                    background-color         : #ecf0f3;
                    // border                : 1px solid #0067c7;
                    filter                   : saturate(1.5);
                    margin-right             : 15px;
                    border-radius            : 2px;
                    padding                  : 5px 10px;
                    cursor                   : pointer;
                    transition               : all ease-in 0.2s;
                    font-size                : 12px;
                    display                  : flex;
                    align-items              : center;
                    // color                 : #fff;
                    line-height              : 1;
                    user-select              : none;

                    &:hover {
                        filter    : saturate(0.5);
                        transition: all ease-in 0.2s;
                    }

                    &:active {
                        transition: all ease-in 0.2s;
                        transform : scale(0.95);
                    }

                    &>div {
                        margin-right: 5px;
                    }

                    &>p {
                        margin-left    : 10px;
                        color          : #fff;
                        background     : #4a7def;
                        border-radius  : 50%;
                        height         : 20px;
                        width          : 20px;
                        display        : flex;
                        align-items    : center;
                        justify-content: center;
                        margin         : 0;
                        position       : absolute;
                        top            : -10px;
                        right          : -10px;
                    }

                    &>span {
                        // color          : #4a7def;
                        border-radius     : 50%;
                        height            : 25px;
                        width             : 25px;
                        display           : flex;
                        align-items       : center;
                        justify-content   : center;
                    }
                }
            }
        }

        .workspace {
            flex    : 1;
            display : flex;
            padding : 20px;
            position: relative;
            overflow: hidden;

            .layout-right {
                flex: 1;
            }

            .layout-left {

                flex-basis  : 300px;
                margin-right: 0px;
            }

            &>div {
                flex-direction: column;
                display       : flex;
                overflow      : hidden;

                .tab {
                    flex-basis : 40px;
                    display    : flex;
                    overflow-x : auto;
                    overflow-y : hidden;
                    user-select: none;

                    .tab-tab {
                        animation: show-tab 0.2s ease;
                    }

                    .active {
                        background: #fff;
                    }

                    .tab-name {
                        width        : 150px;
                        padding      : 15px;
                        overflow     : hidden;
                        text-overflow: ellipsis;


                    }

                    .close-tab {
                        padding      : 5px;
                        border-radius: 3px;
                        font-size    : 10px;
                        margin-right : 10px;

                        &:hover {
                            background: rgb(228, 228, 228);
                            transition: all ease-in 0.2s;
                        }
                    }

                    &>div {
                        white-space               : nowrap;
                        cursor                    : pointer;
                        margin-right              : 5px;
                        background                : #ffffff69;
                        // width                  : 130px;
                        display                   : flex;
                        // padding                : 15px;
                        font-size                 : 12px;
                        align-items               : center;
                        height                    : 100%;
                        justify-content           : space-between;
                        transition                : all ease-in 0.2s;
                        border-top-left-radius    : 2px;
                        border-top-right-radius   : 2px;

                        &:hover {
                            background: #fff;
                            transition: all ease-in 0.2s;
                        }
                    }
                }

                .layout-workspace {
                    flex    : 1;
                    display : flex;
                    overflow: hidden;

                    &>div {
                        // flex: 1;
                        width: 100%;
                    }
                }
            }

            .properties {
                flex-basis: 250px;

            }
        }

        .setting {
            position      : absolute;
            display       : flex;
            padding       : 20px;
            flex-direction: column;
            height        : 100%;
            width         : 322px;
            border-left   : 2px solid #dbe2e8;
            z-index       : 100;
            background    : #fff;
            right         : -330px;
            top           : 0;
            transition    : all ease-in 0.3s;
        }

        .show-setting {
            right     : 0;
            transition: all ease-in 0.3s;
        }
    }

    .logout {
        position       : absolute;
        padding        : 9px 0;
        bottom         : 0;
        margin-bottom  : 20px;
        background     : #2d7eff;
        color          : #fff;
        align-items    : center;
        justify-content: center;
        display        : flex;
        border-radius  : 2px;
        transition     : all ease-in 0.3s;
        width          : calc(100% - 40px);
        cursor         : pointer;

        &:hover {
            transition: all ease-in 0.3s;
            background: #3058c7;
        }
    }

    .header {
        display          : flex;
        flex-direction   : column;
        // padding-bottom: 20px;
        border-bottom    : 1px solid #ecf0f3;
    }

    .title {
        font-size    : 14px;
        font-weight  : bold;
        color        : #000;
        margin-bottom: 10px;
        margin-right : 30px;
        display      : flex;
        align-items  : center;
    }

    .sticky {
        background    : #EDEFF3;
        padding-bottom: 20px;
        position      : sticky;
        top           : 0;
    }

    .sub {
        color    : #8793A1;
        font-size: 12px;
    }

    .font-size {
        margin-top     : 30px;
        height         : 2px;
        background     : #dedede;
        position       : relative;
        align-items    : center;
        display        : flex;
        justify-content: space-between;

        &>div {
            background   : #d4d4d4;
            width        : 10px;
            border-radius: 50%;
            cursor       : pointer;
            height       : 10px;
            border       : 1px solid #ccc;
            transition   : all ease-in 0.3s;
        }

        .choose-font-size {
            background: #0674da;
            border    : 1px solid #0674da;
            transform : scale(1.5);
            transition: all ease-in 0.3s;
        }
    }

    .theme {
        width            : 50%;
        height           : 40px;
        display          : flex;
        align-items      : center;
        justify-content  : center;
        color            : #fff;
        opacity          : 0.3;
        border-radius    : 2px;
        border           : 4px solid #fff;
        margin-right     : 10px;
        transition       : all ease-in 0.3s;
        cursor           : pointer;
        background-repeat: no-repeat;
        background-size  : cover;

        &.active {
            transition: all ease-in 0.3s;
            opacity   : 1;
            border    : 1px solid #6aade6;


        }

        &:hover {
            transition: all ease-in 0.1s;
            opacity   : 1;
        }
    }

    .theme1 {
        flex            : 1;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='416' height='112' viewBox='0 0 416 112'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x1='0.654' y1='-0.759' x2='0.013' y2='1.548' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%232d96ef'/%3E%3Cstop offset='1' stop-color='%23006ecc'/%3E%3C/linearGradient%3E%3ClinearGradient id='linear-gradient-2' x1='0.828' y1='0.369' x2='0.317' y2='1' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0.333'/%3E%3C/linearGradient%3E%3CclipPath id='clip-Artboard_2'%3E%3Crect width='416' height='112'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Artboard_2' data-name='Artboard – 2' clip-path='url(%23clip-Artboard_2)'%3E%3Crect id='Rectangle_45' data-name='Rectangle 45' width='416' height='112' rx='3' fill='url(%23linear-gradient)'/%3E%3Cg id='Group_12' data-name='Group 12' transform='translate(526.455 -11521.125) rotate(180)' opacity='0.352'%3E%3Ccircle id='Ellipse_22' data-name='Ellipse 22' cx='27' cy='27' r='27' transform='translate(195.455 -11674.126)' fill='%23fff'/%3E%3Ccircle id='Ellipse_23' data-name='Ellipse 23' cx='56' cy='56' r='56' transform='translate(222.455 -11710.126)' fill='%23fff'/%3E%3C/g%3E%3Cg id='Group_17' data-name='Group 17' transform='translate(151.545 11766.126)' opacity='0.352'%3E%3Ccircle id='Ellipse_22-2' data-name='Ellipse 22' cx='38' cy='38' r='38' transform='translate(173.455 -11674.126)' fill='%23fff'/%3E%3Ccircle id='Ellipse_23-2' data-name='Ellipse 23' cx='56' cy='56' r='56' transform='translate(222.455 -11710.126)' fill='%23fff'/%3E%3Ccircle id='Ellipse_24' data-name='Ellipse 24' cx='31.5' cy='31.5' r='31.5' transform='translate(303.455 -11661.126)' fill='%23fff'/%3E%3C/g%3E%3Cg id='Group_14' data-name='Group 14' transform='translate(-90.839 11766.086)' opacity='0.28'%3E%3Cellipse id='Ellipse_22-3' data-name='Ellipse 22' cx='25.5' cy='26' rx='25.5' ry='26' transform='translate(173.839 -11685.086)' fill='%23fff'/%3E%3Ccircle id='Ellipse_23-3' data-name='Ellipse 23' cx='38.5' cy='38.5' r='38.5' transform='translate(206.839 -11710.086)' fill='%23fff'/%3E%3Cellipse id='Ellipse_24-2' data-name='Ellipse 24' cx='21' cy='21.5' rx='21' ry='21.5' transform='translate(263.839 -11676.086)' fill='%23fff'/%3E%3C/g%3E%3Cg id='Group_16' data-name='Group 16' transform='translate(-26 -72.623)'%3E%3Ccircle id='Ellipse_19' data-name='Ellipse 19' cx='33.5' cy='33.5' r='33.5' transform='translate(314 34.623)' opacity='0.837' fill='url(%23linear-gradient-2)'/%3E%3Cg id='Group_8' data-name='Group 8' transform='translate(278.274 -0.294)' opacity='0.763'%3E%3Cg id='Group_7' data-name='Group 7' transform='translate(69.072)'%3E%3Cline id='Line_1' data-name='Line 1' y1='17.074' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='3'/%3E%3Cline id='Line_2' data-name='Line 2' y1='17.074' transform='translate(0 121.07)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='3'/%3E%3C/g%3E%3Cg id='Group_7-2' data-name='Group 7' transform='translate(138.144 69.072) rotate(90)'%3E%3Cline id='Line_1-2' data-name='Line 1' y1='17.074' transform='translate(0 0)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='3'/%3E%3Cline id='Line_2-2' data-name='Line 2' y1='17.074' transform='translate(0 121.07)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='3'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_9' data-name='Group 9' transform='translate(322.064 -25.576) rotate(30)' opacity='0.763'%3E%3Cg id='Group_7-3' data-name='Group 7' transform='translate(69.072 0)'%3E%3Cline id='Line_1-3' data-name='Line 1' y1='17.074' transform='translate(0 0)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='3'/%3E%3Cline id='Line_2-3' data-name='Line 2' y1='17.074' transform='translate(0 121.07)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='3'/%3E%3C/g%3E%3Cg id='Group_7-4' data-name='Group 7' transform='translate(138.144 69.072) rotate(90)'%3E%3Cline id='Line_1-4' data-name='Line 1' y1='17.074' transform='translate(0 0)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='3'/%3E%3Cline id='Line_2-4' data-name='Line 2' y1='17.074' transform='translate(0 121.07)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='3'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_10' data-name='Group 10' transform='translate(372.627 -25.576) rotate(60)' opacity='0.763'%3E%3Cg id='Group_7-5' data-name='Group 7' transform='translate(69.072 0)'%3E%3Cline id='Line_1-5' data-name='Line 1' y1='17.074' transform='translate(0 0)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='3'/%3E%3Cline id='Line_2-5' data-name='Line 2' y1='17.074' transform='translate(0 121.07)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='3'/%3E%3C/g%3E%3Cg id='Group_7-6' data-name='Group 7' transform='translate(138.144 69.072) rotate(90)'%3E%3Cline id='Line_1-6' data-name='Line 1' y1='17.074' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='3'/%3E%3Cline id='Line_2-6' data-name='Line 2' y1='17.074' transform='translate(0 121.07)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='3'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Group_18' data-name='Group 18' transform='translate(-342.412 11693.522)' opacity='0.272'%3E%3Cellipse id='Ellipse_22-4' data-name='Ellipse 22' cx='59.5' cy='59' rx='59.5' ry='59' transform='translate(172.412 -11654.522)' fill='%23fff'/%3E%3Cellipse id='Ellipse_23-4' data-name='Ellipse 23' cx='86' cy='87' rx='86' ry='87' transform='translate(250.412 -11710.522)' fill='%23fff'/%3E%3Ccircle id='Ellipse_24-3' data-name='Ellipse 24' cx='48' cy='48' r='48' transform='translate(375.412 -11632.522)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

    .theme2 {
        flex            : 1;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='416' height='112' viewBox='0 0 416 112'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x1='0.77' y1='-0.115' x2='0.382' y2='1.844' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23707070'/%3E%3Cstop offset='1' stop-color='%23383838'/%3E%3C/linearGradient%3E%3ClinearGradient id='linear-gradient-2' x1='0.5' x2='-0.212' y2='0.921' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23fff'/%3E%3Cstop offset='0.468' stop-color='%23f7f7f7'/%3E%3Cstop offset='1' stop-color='gray'/%3E%3C/linearGradient%3E%3CclipPath id='clip-Artboard_3'%3E%3Crect width='416' height='112'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Artboard_3' data-name='Artboard – 3' clip-path='url(%23clip-Artboard_3)'%3E%3Crect width='416' height='112' fill='%23fff'/%3E%3Crect id='Rectangle_44' data-name='Rectangle 44' width='416' height='112' rx='3' fill='url(%23linear-gradient)'/%3E%3Cg id='Group_12' data-name='Group 12' transform='translate(-95 11735.126)' opacity='0.066'%3E%3Ccircle id='Ellipse_22' data-name='Ellipse 22' cx='48.5' cy='48.5' r='48.5' transform='translate(173 -11664.126)' fill='%23fff'/%3E%3Ccircle id='Ellipse_23' data-name='Ellipse 23' cx='71.5' cy='71.5' r='71.5' transform='translate(236 -11710.126)' fill='%23fff'/%3E%3Ccircle id='Ellipse_24' data-name='Ellipse 24' cx='40' cy='40' r='40' transform='translate(340 -11647.126)' fill='%23fff'/%3E%3C/g%3E%3Cg id='Group_19' data-name='Group 19' transform='translate(103 11724.126)' opacity='0.066'%3E%3Ccircle id='Ellipse_22-2' data-name='Ellipse 22' cx='48.5' cy='48.5' r='48.5' transform='translate(173 -11664.126)' fill='%23fff'/%3E%3Ccircle id='Ellipse_23-2' data-name='Ellipse 23' cx='71.5' cy='71.5' r='71.5' transform='translate(236 -11710.126)' fill='%23fff'/%3E%3Ccircle id='Ellipse_24-2' data-name='Ellipse 24' cx='40' cy='40' r='40' transform='translate(340 -11647.126)' fill='%23fff'/%3E%3C/g%3E%3Cg id='Group_13' data-name='Group 13' transform='translate(-242 11689.26)' opacity='0.188'%3E%3Ccircle id='Ellipse_22-3' data-name='Ellipse 22' cx='52.5' cy='52.5' r='52.5' transform='translate(173 -11661.26)' fill='%23fff'/%3E%3Ccircle id='Ellipse_23-3' data-name='Ellipse 23' cx='77' cy='77' r='77' transform='translate(241 -11710.26)' fill='%23fff'/%3E%3Ccircle id='Ellipse_24-3' data-name='Ellipse 24' cx='43' cy='43' r='43' transform='translate(352 -11642.26)' fill='%23fff'/%3E%3C/g%3E%3Cg id='Group_14' data-name='Group 14' transform='translate(-218.6 11749.086)' opacity='0.361'%3E%3Cellipse id='Ellipse_22-4' data-name='Ellipse 22' cx='30.5' cy='31' rx='30.5' ry='31' transform='translate(173.6 -11680.086)' fill='%23fff'/%3E%3Ccircle id='Ellipse_23-4' data-name='Ellipse 23' cx='46' cy='46' r='46' transform='translate(213.6 -11710.086)' fill='%23fff'/%3E%3Cellipse id='Ellipse_24-4' data-name='Ellipse 24' cx='25' cy='25.5' rx='25' ry='25.5' transform='translate(281.6 -11669.086)' fill='%23fff'/%3E%3C/g%3E%3Cpath id='Subtraction_1' data-name='Subtraction 1' d='M34.548,11617a39.268,39.268,0,0,1-27.964-11.671,39.887,39.887,0,0,1,22.14-67.586,37.1,37.1,0,0,0-1.2,53.419,36.516,36.516,0,0,0,39.987,8.017,39.965,39.965,0,0,1-13.978,12.938A39.15,39.15,0,0,1,34.548,11617Z' transform='translate(319 -11561)' opacity='0.902' fill='url(%23linear-gradient-2)'/%3E%3Cline id='Line_12' data-name='Line 12' x2='44' transform='translate(284.5 27.5)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='3' opacity='0.578'/%3E%3Cline id='Line_3' data-name='Line 3' x2='35' transform='translate(364.5 14.5)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='3' opacity='0.514'/%3E%3Cline id='Line_4' data-name='Line 4' x2='12' transform='translate(353.5 22.5)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='3' opacity='0.514'/%3E%3Cline id='Line_13' data-name='Line 13' x2='21' transform='translate(314.5 39.5)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='3' opacity='0.578'/%3E%3C/g%3E%3C/svg%3E");
    }


    .rg-bottom,
    .rg-left,
    .rg-right,
    .rg-top {
        display: block;
        width  : 13px;
    }

    .rg-left span,
    .rg-right span {
        border-width: 0 1px;
        top         : 50%;
        margin      : -10px 0 0 3.5px;
        height      : 20px;
        width       : 1px;
    }

    .rg-right {
        cursor      : col-resize;
        height      : 100%;
        right       : 0;
        top         : 0;
        margin-right: -3px;
        background  : #ecf0f3;
    }



    input {
        border    : none;
        box-shadow: none;
        background: transparent;
        outline   : none;
        font-size : 12px;

    }

    .form-horizontal .form-group {
        margin-right: 0;
        margin-left : 0;
    }

    .storage-props .heading {
        font-size: 12px;
    }

    side-bar div.handle {
        background-color: #fff;
    }

    side-bar div.handle:hover {
        background: #f1f8ff;
    }

    // file-explorer {
    //     user-select: none;
    // }
    .storage-props .props-group label {
        height: 37px;
    }

    .storage-props .more-info .add-mdata {
        background: #2d7eff;
    }

    file-explorer .outside .main-content {

        .date .size .data-type .name-row {
            border-left: none;
            user-select: none;

        }
    }

    file-explorer .outside .main-content .selected {
        user-select: none;
        background : #f9fafb;
    }

    file-explorer .outside .main-content .sidebar-properties {
        border-left   : 1px solid #dbe2e8;
        // position   : fixed;
        // right      : 0;
        // bottom     : 0;
        // top        : 74px;
        // height     : calc(100vh - 74px);
        // z-index    : 1000;
    }

    file-explorer .outside {
        position: relative;
    }

    file-explorer .outside .toolbar .right .search-box {
        display    : flex;
        align-items: center;
        height     : 100%;

        &>input {
            padding   : 12px 10px !important;
            background: #fff !important;
            border    : 1px solid #e8e7e8 !important;
            border-top: none;
            border-bottom: none;
        }
    }

    wi-droppable>div {
        float     : left;
        margin    : 0;
        border    : none;
        transition: all 0.2s ease-in;
    }

    /*WI_TREE-------------------------------------------------*/
    wi-tree-view-virtual div input {
        width           : -webkit-fill-available;
        margin          : 20px;
        line-height     : 1;
        padding         : 10px;
        font-size       : 12px;
        border-radius   : 2px;
        border: 1px solid #c4c4c4;
        text-indent: 30px;

        &::placeholder {
            color         : #000;
            font-weight   : normal;
            // letter-spacing: 1px;

        }
    }


    wi-tree-node-virtual .node-content.selected::after {
        background-color: #4B7DEF;
    }

    wi-tree-node-virtual .node-content:hover {
        background: #f5f8fa;
    }

    wi-tree-node-virtual .node-content.selected {
        background: #f5f8fa;
    }

    wi-tree-node-virtual .node-content {
        border: none;
    }

    wi-tree-node-virtual .node-caret {
        width: 18px;
    }

    wi-tree-node-virtual .node-label {
        font-size: unset;
    }

    wi-tree-view-virtual {
        .tree-view-container {
            &>div {
                direction: rtl;
            }
        }
    }

    wi-tree-node-virtual {
        direction: ltr;
    }

    wi-tree-node-virtual>div {
        cursor      : default;
        padding-left: 15px;
    }
}

@keyframes show-dialog {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes show-tab {
    0% {
        width: 70px;
    }

    100% {
        width: 130px;
    }
}

//SWITCH BUTTON

.switch {
    position     : relative;
    display      : inline-block;
    min-width    : 31px;
    height       : 16px;
    margin-bottom: 0;
}

.switch input {
    opacity: 0;
    width  : 0;
    height : 0;
}

.slider {
    position             : absolute;
    cursor               : pointer;
    top                  : 0;
    left                 : 0;
    right                : 0;
    bottom               : 0;
    // background-color  : #ccc;
    background-image     : linear-gradient(to right, #a9a9a9, #bdbdbd);
    -webkit-transition   : .2s;
    transition           : .2s;
}

.slider:before {
    position          : absolute;
    content           : "";
    height            : 14px;
    width             : 14px;
    left              : 1px;
    bottom            : 1px;
    background-color  : white;
    -webkit-transition: 0.2s;
    transition        : 0.2s;
    box-shadow        : 0 1px 3px #0000003b;
}

input:checked+.slider {
    // background-color: #3e84ff;
    background-image   : linear-gradient(to right, #0674da, #3058c7);
}

input:focus+.slider {
    box-shadow: none;
}

input:checked+.slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform    : translateX(15px);
    transform        : translateX(15px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dragging {
    background   : #fff !important;
    border-radius: 10px !important;
    border       : 2px dotted #0674da !important;
    width        : 200px;
    padding      : 15px 20px;
    transition   : padding ease-in 0.3s;

    wi-droppable .drag-over {
        transition      : all 0.2s ease-in;
        filter          : unset !important;
        background-color: rgba(255, 255, 255, 0.5);
    }

    wi-tree-node-virtual {
        width: 100%;

        &>div {
            cursor      : default;
            //margin    : 0 0 0 15px;
            padding-left: 0 !important;

        }

        .node-icon {
            display      : flex;
            padding-right: 10px;
            font-size    : 13px;
            filter       : saturate(2)
        }

        .node-label {
            padding-right: 10px;
            font-size    : 13px;
            display      : inline-block;
            white-space  : nowrap;
            overflow     : hidden;
            text-overflow: ellipsis;
        }

        .node-caret {
            display: none;
        }

        .invisible {
            visibility: hidden;
        }

        .node-content {
            border-bottom      : 1px solid #fff;
            position           : relative;
            white-space        : nowrap;
            text-overflow      : ellipsis;
            overflow           : hidden;
            // padding         : 11px;
            display            : flex;
            align-items        : center;
            transition-property: padding, margin;
            transition-duration: 0.2s;
            // height          : 2.3em; //old
            height             : 37px; //new

            &,
            &::after {
                // line-height: 2.3em; //old
                height        : 37px; //new
            }


            &.search-mode {
                color: #fff;

                &.not-matched.not-show {
                    display: none;
                }

                &.not-matched>div {
                    opacity: 1;
                }
            }

            &.selected {
                background: #fff;

                &::after {
                    background-color: #fff;
                }
            }

            &::after {
                content : "2r";
                color   : transparent;
                display : block;
                position: absolute;
                top     : 0;
                width   : 4px;
            }

            &::after {
                right: 0;
            }
        }

        .node-content:hover {
            background: #fff;
        }

    }
}

.templateVerify-row {
    border-top     : 1px solid #e0e0e0;
    padding        : 3px 0px;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    font-size      : 12px;

    &>div {
        display    : flex;
        align-items: center;
    }

    // &:hover {
    //     background: #f4f4f4;
    // }
}

.templateVerify-sync-btn {
    font-size     : 10px;
    padding       : 7px 10px;
    border        : 1px solid #fff;
    letter-spacing: 2px;
    line-height   : 1;
    border-radius : 20px;
    margin-left   : 15px;
    transition    : all ease-in 0.2s;
    cursor        : pointer;

    &:hover {
        background: #f2fffa;
        color     : rgb(49, 173, 136);
        transition: all ease-in 0.2s;
        border    : 1px solid rgb(49, 173, 125);
    }

}

.templateVerify-del-btn {
    font-size    : 12px;
    padding      : 5px;
    border       : 1px solid #c4c4c4;
    line-height  : 1;
    border-radius: 20px;
    margin-left  : 15px;
    cursor       : pointer;
    transition   : all ease-in 0.2s;

    &:hover {
        background: #ffdddd;
        color     : rgb(173, 49, 49);
        border    : 1px solid rgb(173, 49, 49);
        transition: all ease-in 0.2s;

    }
}

.synced {
    background: #fff2f2;
    color     : rgb(173, 49, 49);
    transition: all ease-in 0.2s;
    border    : 1px solid rgb(173, 49, 49) !important;
}

.unsynced {
    background: #f2fffa;
    color     : rgb(49, 173, 136);
    transition: all ease-in 0.2s;
    border    : 1px solid rgb(49, 173, 125) !important;
}

.all {
    background: #f2f9ff;
    transition: all ease-in 0.2s;
    color     : rgb(67, 153, 245);
    border    : 1px solid rgb(65, 125, 234) !important;
}

.templateVerify-btn {
    font-size     : 10px;
    padding       : 7px 10px;
    border        : 1px solid #c4c4c4;
    letter-spacing: 2px;
    line-height   : 1;
    border-radius : 2px;
    margin-left   : 10px;
    transition    : all ease-in 0.2s;
    cursor        : pointer;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    background   : #fff !important;
    padding      : 30px 15px 30px 30px !important;
    border-radius: 3px !important;

}
.ngdialog {
    overflow: hidden !important;
}
.slim-scroller {
    ::-webkit-scrollbar {
        background: transparent !important;
        width     : 5px !important;
        height    : 5px !important;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #dcdcdc !important;
    }
}
.icon-hover-show-title-actived {
    background: #2587e5;
    color: #fff;
    &>span {
        width: fit-content !important;
        padding-right: 15px;
    }
    &>div {
        color: #fff !important;
    }
}
.icon-hover-show-title {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    border-radius: 2px;
    margin-left: 20px;
    transition: all cubic-bezier(0.28, 0.42, 1, 1) 0.3s;
    &>div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        min-width: 35px;
        border-radius: 2px;
        background: #2587e417;
        color: #2587e4;
    }
    &>span {
        color: #fff;
        width: 0;
        transition: all cubic-bezier(0.28, 0.42, 1, 1) 0.3s;
    }
    &:hover {
        color: #fff;
    }
    &:hover {
        background: #2587e5;
        &>span {
            width: fit-content;
            padding-right: 15px;
        }
        &>div {
            color: #fff;
        }
    }
    &.icon-active {
        background-color: blue;
        color: #fff;
    }
}

wi-table-view .cell-col-1 {
    display: table-cell;
}
wi-table-view div.table {
    border: none;
    margin: 0;
    border-top: 2px solid #f5f5f5;
    table-layout: fixed;
}
wi-table-view div.header {
    background-color: transparent;
}
wi-table-view div.cell {
    padding: 15px;
    border-bottom: 2px solid #f5f5f5;
    border-width: 0 0 2px 0;
    width: 10%;
    &:nth-child(1) {
        width: 5%;
    }
    &:nth-child(2) {
        width: 12%;
        overflow: hidden;
    }
    &:nth-child(3) {
        width: 18%;
    }
    &:nth-child(4) {
        width: 30%;
    }
    &:nth-child(5) {
        width: 150px;
    }
}
wi-table-view div.indicator {
    display: none !important;
}
.modal-header:before, .modal-header:after {
	display: none;
}