i2g-codb {

    &>div {
        display : flex;
        height  : 100%;
        width   : 100%;
        overflow: hidden;
    }

    .side-left {
        flex-basis  : 250px;
        background  : #fff;
        border-right: 2px solid #dbe2e8;
    }

    .side-right {
        overflow      : hidden;
        flex          : 1;
        background    : #ecf0f3;
        display       : flex;
        flex-direction: column;

        .menu {
            flex-basis     : 34px;
            display        : flex;
            justify-content: space-between;
            padding        : 20px;
            align-items    : center;
            background     : #fff;
            border-bottom  : 2px solid #dbe2e8;


            &>div {
                display: flex;

                &>span {
                    // background-color   : #4B7DEF;
                    border                : 1px solid #0067c7;
                    filter                : saturate(1.5);
                    margin-right          : 20px;
                    border-radius         : 2px;
                    padding               : 8px 10px;
                    cursor                : pointer;
                    transition            : all ease-in 0.2s;
                    font-size             : 12px;
                    display               : flex;
                    align-items           : center;
                    // color              : #fff;
                    line-height           : 1;

                    &:hover {
                        filter    : saturate(0.5);
                        transition: all ease-in 0.2s;
                    }

                    &:active {
                        transition: all ease-in 0.2s;
                        transform : scale(0.95);
                    }

                    &>div {
                        padding-left: 10px;
                    }
                }
            }
        }

        .workspace {
            flex    : 1;
            display : flex;
            margin  : 20px;
            position: relative;
            overflow: hidden;

            .layout-right {
                flex: 1;
            }

            .layout-left {

                flex-basis  : 300px;
                margin-right: 0px;
            }

            &>div {
                flex-direction: column;
                display       : flex;
                overflow      : hidden;

                .tab {
                    flex-basis: 40px;
                    display   : flex;
                    overflow  : auto;

                    .active {
                        background: #fff;
                    }

                    &>div {
                        white-space            : nowrap;
                        cursor                 : pointer;
                        margin-right           : 5px;
                        background             : #ffffff69;
                        width                  : 120px;
                        display                : flex;
                        padding                : 15px;
                        font-size              : 12px;
                        align-items            : center;
                        height                 : 100%;
                        justify-content        : space-between;
                        transition             : all ease-in 0.2s;
                        border-top-left-radius : 2px;
                        border-top-right-radius: 2px;

                        &:hover {
                            background: #fff;
                            transition: all ease-in 0.2s;
                        }
                    }
                }

                .layout-workspace {
                    flex    : 1;
                    display : flex;
                    overflow: hidden;

                    &>div {
                        flex: 1;
                    }
                }
            }

            .properties {
                flex-basis: 250px;

            }
        }
    }

    .rg-bottom,
    .rg-left,
    .rg-right,
    .rg-top {
        display: block;
        width  : 13px;
    }

    .rg-left span,
    .rg-right span {
        border-width: 0 1px;
        top         : 50%;
        margin      : -10px 0 0 3.5px;
        height      : 20px;
        width       : 1px;
    }

    .rg-right {
        cursor      : col-resize;
        height      : 100%;
        right       : 0;
        top         : 0;
        margin-right: -3px;
        background  : #ecf0f3;
    }

    .slim-scroller {
        ::-webkit-scrollbar {
            background: transparent !important;
            width     : 5px !important;
            height    : 5px !important;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #dcdcdc !important;
        }
    }

    input {
        border    : none;
        box-shadow: none;
        background: transparent;
        outline   : none;
        font-size : 12px;

    }

    .form-horizontal .form-group {
        margin-right: 0;
        margin-left : 0;
    }

    .storage-props .heading {
        font-size: 12px;
    }

    file-explorer .outside .main-content .sidebar-properties {
        border-left: 2px solid #dbe2e8;
        // position   : fixed;
        // right      : 0;
        // bottom     : 0;
        // top        : 74px;
        // height     : calc(100vh - 74px);
        // z-index    : 1000;
    }

    file-explorer .outside {
        position: relative;
    }

    file-explorer .outside .toolbar .right .search-box {
        display    : flex;
        align-items: center;
        height     : 100%;

        &>input {
            padding   : 12px 10px !important;
            background: #fff !important;
            border    : 1px solid #e8e7e8 !important;
        }
    }

    wi-droppable>div {
        float     : left;
        margin    : 0;
        border    : none;
        transition: all 0.2s ease-in;
    }

    /*WI_TREE-------------------------------------------------*/
    wi-tree-view-virtual div input {
        width           : -webkit-fill-available;
        margin          : 20px;
        line-height     : 1;
        padding         : 10px;
        font-size       : 12px;
        border-radius   : 2px;
        background-color: #4B7DEF;
        color           : #fff;
        border-bottom   : 1px solid #f0f0f0;
    }

    wi-tree-node-virtual .node-content,
    wi-tree-node-virtual .node-content::after {
        font-weight: bold;
    }

    wi-tree-node-virtual .node-content.selected::after {
        background-color: #4B7DEF;
    }

    wi-tree-node-virtual .node-content:hover {
        background: #f5f8fa;
    }

    wi-tree-node-virtual .node-content.selected {
        background: #f5f8fa;
    }

    wi-tree-node-virtual .node-content {
        border: none;
    }

    wi-tree-node-virtual .node-caret {
        width: 18px;
    }

}




/*END_WI_TREE-------------------------------------------------*/