<div class="slim-scroller" id="app">
    <div class="side-left" ng-class="{'hide-user-list': self.hideUserList}">
        <div ng-show="self.requesting" class="loading">
            <div class="loading-bar">
                <span class="bar-animation"></span>
            </div>
        </div>
        <div style="position: absolute; top: 32px; left: 20px; font-weight: bold;">User-workspace list </div>
        <div title="Refresh" style="position: absolute; top: 32px; right: 45px; cursor: pointer;" class="ti ti-reload" ng-click="self.getListUser()"></div>
        <div title="Hide user list" style="position: absolute; top: 32px; right: 20px; cursor: pointer;" class="ti ti-angle-left" ng-click="self.hideUserList = !self.hideUserList"></div>
        <div title="Search" style="position: absolute; top: 73px; left: 25px; cursor: pointer;" class="ti ti-search"></div>
        <input style="margin: 1rem;padding: 1rem;line-height: 1.5rem;border: 1px solid #f0f0f0;text-indent: 30px;" type="text" placeholder="Search" ng-model="filter" />
        <div style="flex: 1; height: 0;">
            <vue-component root="WiTree"
                props="{
                    treeRoot: self.listUser,
                    getChildren: self.getChildren,
                    filter,
                    clickFn: self.clickTreeVirtual,
                    getLabel: self.getLabel,
                    getIcon: self.getIcon,
                    runMatch: self.runMatch,
                    getDraggable: self.getDraggable,
                }"
            >
        </vue-component>
        </div>
        <div ng-show="self.storageInfo.Size" class="storage-info" style="margin: 0; padding: 20px 0px 20px 0px; background-color: lightgrey; height: 70px;">
            <div class="progress" style="margin: 0px 10px 0px 10px; text-align: right;" hover="Used: 36GB Available: 100GB"><b>{{self.storageInfo['Size']}}</b>
                <a class="progress-bar" role="progressbar" style="width: {{self.storageInfo['Use%']}}" aria-valuemax="100" aria-valuemin="0">
                    {{self.storageInfo['Use%']}}
                </a>
            </div>
        </div>
    </div>
    <div class="side-right">
        <div class="menu">
            <div>
                <button title="Show user list" ng-show="self.hideUserList" ng-click="self.hideUserList = !self.hideUserList" style="margin-left: -20px;">
                    <span class="ti ti-angle-right"></span>
                </button>
                <button ng-click="self.copyOrCut('copy')" ng-disabled="!self.currentUser.selectedList.length">
                    <span class="ti ti-files"></span>
                    <div>Copy</div>

                </button>
                <button ng-click="self.copyOrCut('cut')" ng-disabled="!self.currentUser.selectedList.length">
                    <span class="ti ti-cut"></span>
                    <div>Cut</div>
                </button>
                <button ng-click="self.paste()" ng-disabled="!self.pasteList || self.pasteList.user === self.currentUser">
                    <span class="ti ti-clipboard"></span>
                    <div>Paste</div>
                    <p ng-if="self.pasteList.length">
                        {{self.pasteList.length}}
                    </p>
                </button>
                <button ng-click="self.verify()" ng-disabled="!self.adminProjectStorage.storageDatabase">
                        <span class="ti ti-check-box"></span>
                    <div>
                        Verify
                    </div>
                    <p ng-show="self.unsyncedCount">{{self.unsyncedCount}}</p>
                </button>
                <span ng-show="self.pasting">
                     Pasting
                </span>
                <!-- <span ng-click="self.addProjectStorage();">
                    <span class="zone-split-16x16"></span>
                    <div>Add tab</div>
                </span> -->
            </div>
            <div>
                <span>{{self.username}}</span>
                <button ng-click="self.showSetting = !self.showSetting"
                      style="margin-right: 0; background: #4a7def; color: #fff;">
                    <span class="ti ti-settings"></span>
                    <div style="padding-left: 0">Setting</div>
                </button>
            </div>
        </div>
        <div class="workspace">
            <div class="layout-right">
                <span class="tab">
                    <div ng-class="{'active': self.currentTab === -1}"
                         ng-click="self.setCurrentTab(-1);self.onClickFileExplorer(self.adminProjectStorage);">
                        <div class="tab-name">Admin</div>
                    </div>
                    <div class="tab-tab" ng-repeat="tab in self.listProjectStorage track by $index"
                         ng-class="{'active': self.currentTab === $index}">
                        <div class="tab-name" title="{{tab.label}} ({{tab.createdBy}})"
                             ng-click="self.setCurrentTab($index);self.onClickFileExplorer(self.listProjectStorage[$index].container);">{{tab.label}} ({{tab.createdBy}})</div>
                        <div class="close-tab ti ti-close" ng-click="self.removeProjectStorage($index);"></div>
                    </div>
                    <div ng-click="self.addProjectStorage()" style="position: sticky; right: 0; background: #f4f6f8;">
                        <div class="close-tab ti ti-plus" style="margin-left: 10px;"></div>
                    </div>
                </span>
                <div class="layout-workspace">
                    <div>
                        <!-- NAM COMMENT READONLY WELL -->
                        <file-explorer ng-show="self.currentTab===-1" search-mode="'stream'"
                                       ng-click="self.onClickFileExplorer(self.adminProjectStorage);"
                                       url="{{self.fileManager}}" storage-database="self.storageDatabaseAdmin"
                                       id-project="1" set-container="self.setContainerAdmin"
                                       preview-url="{{self.previewUrl}}" hide-import-to-inventory="true" is-database="false"
                                       hide-action-filter="false" hide-associate="true" readonly-values="[]" check-permission="true">
                        </file-explorer>
                        <file-explorer ng-repeat-start="projStorage in self.listProjectStorage track by $index" ng-show="self.currentTab===$index"
                            ng-click="self.onClickFileExplorer(self.listProjectStorage[$index].container);"
                            url="{{self.fileManager}}" search-mode="'stream'"
                            storage-database="self.getStorageDatabase($index)" id-project="1"
                            set-container="self.setContainerProjectStorage($index)"
                            preview-url="{{self.previewUrl}}" hide-import-to-inventory="true" is-database="projStorage.isNewTab"
                            hide-action-filter="false" hide-associate="true" readonly-values="[]" check-permission="true">
                        </file-explorer>
                        <!-- <file-explorer ng-show="self.currentTab===-1"
                                       ng-click="self.onClickFileExplorer(self.adminProjectStorage);"
                                       url="{{self.fileManager}}" storage-database="self.storageDatabaseAdmin"
                                       id-project="1" set-container="self.setContainerAdmin"
                                       preview-url="{{self.previewUrl}}" hide-import-to-inventory="true" is-database="false"
                                       hide-action-filter="false" hide-associate="true" check-permission="true">
                        </file-explorer>
                        <file-explorer ng-repeat-start="projStorage in self.listProjectStorage track by $index" ng-show="self.currentTab===$index"
                            ng-click="self.onClickFileExplorer(self.listProjectStorage[$index].container);"
                            url="{{self.fileManager}}"
                            storage-database="self.getStorageDatabase($index)" id-project="1"
                            set-container="self.setContainerProjectStorage($index)"
                            preview-url="{{self.previewUrl}}" hide-import-to-inventory="true" is-database="projStorage.isNewTab"
                            hide-action-filter="false" hide-associate="true" check-permission="true">
                        </file-explorer> -->
                        <vue-component ng-repeat-end=""
                            ng-if="self.currentTab===$index"
                            root="WiDroppable"
                            props="{
                                onDrop: self.getFnDrop($index),
                                dataType: 'tree-nodes',
                            }"
                        >
                        </vue-component>
                    </div>
                </div>
            </div>
            <div class="setting" ng-class="{'show-setting':self.showSetting}">
                <div class="header">
                    <span class="title">
                        <span class="ti ti-wand" style="margin-right: 15px;"></span>
                        Appearance
                    </span>
                    <span class="sub">Choose your theme or set automatic</span>
                    <div style="display: flex; align-items: center; justify-content: space-between; margin: 20px 0;">
                        <div>Auto change theme with sun time</div>
                        <label class="switch">
                            <input type="checkbox" ng-checked="self.autoChangeTheme" ng-click="self.updateSetting({autoChangeTheme: !self.autoChangeTheme});">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div style="display: flex; margin-bottom: 20px;justify-content: space-between;"
                         ng-show="!self.autoChangeTheme">
                        <div ng-class="{'active': self.activeTheme === 'light'}"
                             ng-click="self.changeStyle('light'); self.updateSetting({activeTheme: 'light'})" class="theme theme1">
                        </div>
                        <div ng-class="{'active': self.activeTheme === 'dark'}"
                             ng-click="self.changeStyle('dark'); self.updateSetting({activeTheme: 'dark'})" class="theme theme2"
                             style="margin: 0;">
                        </div>
                    </div>

                </div>
                <div class="header" style="margin-top: 20px;">
                    <span class="title">
                        <span class="ti ti-shortcode" style="margin-right: 15px;"></span>
                        Font size
                    </span>
                    <span class="sub">Select font size for this website</span>
                    <div class="font-size">
                        <div ng-click="self.selectedFontSize = 10; self.changeFontSize('10px')"
                             ng-class="{'choose-font-size':self.selectedFontSize === 10}"></div>
                        <div ng-click="self.selectedFontSize = 12; self.changeFontSize('12px')"
                             ng-class="{'choose-font-size':self.selectedFontSize === 12}"></div>
                        <div ng-click="self.selectedFontSize = 14; self.changeFontSize('14px')"
                             ng-class="{'choose-font-size':self.selectedFontSize === 14}"></div>
                        <div ng-click="self.selectedFontSize = 16; self.changeFontSize('16px')"
                             ng-class="{'choose-font-size':self.selectedFontSize === 16}"></div>
                    </div>
                    <div class="font-size" style="background: none; margin-bottom: 20px;">
                        <span>10</span>
                        <span>12</span>
                        <span>14</span>
                        <span>16</span>
                    </div>
                </div>

                <div class="logout" ng-click="self.logout()">
                    <div>Logout</div>
                </div>
            </div>
        </div>
    </div>
</div>
<wi-device-requirement min-width="900" min-height="900">
</wi-device-requirement>
<script type="text/ng-template" id="templateVerify">
    <style>
        .ngdialog.ngdialog-theme-default .ngdialog-content {
            width: 1200px !important;
            max-width: 90vw;
            padding: 0 !important;
            box-shadow: none !important;
        }
    </style>
    <div class="wi-modal-content">
        <div class="wi-modal-header">
            <div style="font-size: 15px;">Verify</div>
            <div style="display: flex;">
                <div style="display: flex; align-items: center">
                    <div>Check all</div>
                    <input style="margin: 0 0 0 15px;" type="checkbox" ng-model="self.selectedAllVerify" ng-change="self.clickSelectedAllVerify()">
                </div>
                <div class="icon-hover-show-title" ng-class="{'icon-hover-show-title-actived':self.verifyStatus === 'unsynced'}" ng-click="self.getFilesInQueue('unsynced')">
                    <div class="fa fa-eye-slash"></div>
                    <span>Unsynced</span>
                </div>
                <div class="icon-hover-show-title" ng-class="{'icon-hover-show-title-actived':self.verifyStatus === 'synced'}" ng-click="self.getFilesInQueue('synced')">
                    <div class="fa fa-cloud"></div>
                    <span>Synced</span>
                </div>
                <div class="icon-hover-show-title" ng-class="{'icon-hover-show-title-actived':self.verifyStatus === 'rejected'}" ng-click="self.getFilesInQueue('rejected')">
                    <div class="fa fa-ban"></div>
                    <span>Rejected</span>
                </div>
                <div class="icon-hover-show-title" ng-class="{'icon-hover-show-title-actived':self.verifyStatus === 'all'}" ng-click="self.getFilesInQueue('all')">
                    <div class="fa fa-check"></div>
                    <span>All</span>
                </div>
                <div class="icon-hover-show-title icon-hover-show-title-actived" ng-show="self.verifyStatus === 'unsynced'" ng-click="self.syncVerifyAll()">
                    <div class="fa fa-cloud-upload"></div>
                    <span>SYNC ALL</span>
                </div>
            </div>
        </div>
        <div class="wi-modal-body slim-scroller">
            <wi-table-view ng-if="self.verifyList.length" row-count="self.verifyList.length"
                col-count="self.verifyTableColHeaders.length" col-headers="self.verifyTableColHeaders"
                row-headers="self.getVerifyTableRowHeaders()" accessor="self.verifyTableValue" item-list="self.verifyList">
            </wi-table-view>
        </div>
        <div class="wi-modal-footer">
            <div class="btn-footer ok-btn" ng-click="self.syncSelectedVerifies()">Approve</div>
            <div class="btn-footer close-btn" ng-click="self.rejectSelectedVerifies()">Reject</div>
            <div class="btn-footer close-btn" ng-click="self.deleteSelectedVerifies()">Delete</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="templateVersion">
    <style>
        .ngdialog.ngdialog-theme-default .ngdialog-content {
            /* width: 360px !important; */
            padding: 0 !important;
            box-shadow: none !important;
            top: 15vh;
        }
        .wi-modal-content.wi-modal-small {
            height: 25vh !important;
        }
        .wi-modal-footer {
            display: grid;
            grid-column-gap: 20px;
            grid-template-columns: auto auto;
            width: 100%;
        }
        .wi-button-center {
            width: 100% !important;
            font-weight: bold;
            background-color: #f3f3f4;
            height: 40px;
            min-height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            border-radius: 10px;
            color: #9e9ea7;
            user-select: none;
            transition: all ease-in 0.1s;
        }
        .wi-button-center:hover {
            cursor: pointer;
            background-color: rgb(63 133 255 / 10%);
            color: #3f84ff;
            transition: all ease-in 0.1s;
        }
        .wi-button-center:active {
            transition: all ease-in 0.1s;
            transform: scale(0.96);
        }
        .wi-button-center-yes {
            font-weight: bold !important;
            width: 100% !important;
            min-width: 100px;
            background-color: var(--primary-color);
            height: 40px;
            min-height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            border: transparent;
            border-radius: 10px;
            color: var(--text-white-color);
            user-select: none;
            transition: all ease-in 0.1s;
            cursor: pointer;
        }
        input[type='submit'] {
            font-weight: bold !important;
            width: 100% !important;
            min-width: 100px;
            background-color: #3f84ff;
            height: 40px;
            min-height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            border: transparent;
            border-radius: 10px;
            color: #fff;
            user-select: none;
            transition: all ease-in 0.1s;
            cursor: pointer;
        }
        input:hover[type='submit'] {
            background-color: #2f6fdf;
            border-color: #3f84ff;
            -webkit-box-shadow: 0 0 0 4px #3f84ff1f;
            box-shadow: 0 0 0 4px #3f84ff1f;
        }
    </style>
    <div class="wi-modal-content wi-modal-small">
        <div class="wi-modal-header">
            New version available
        </div>
        <div class="wi-modal-body slim-scroller">
            Refresh browser to update?

        </div>
        <div class="wi-modal-footer">
            <div class="wi-button-center" ng-click="self.cancelRefresh()">
                No
            </div>
            <!-- <div class="wi-button-center-yes">
                <button>Yes</button>
            </div> -->
            <input type="submit" value="Yes" ng-click="self.acceptRefresh()">
        </div>
    </div>
</script>
