<div class="slim-scroller" id="app">
    <div class="side-left">
        <wi-tree-view-virtual tree-root="self.listUser" hide-unmatched='true' get-children="self.getChildren"
                              click-fn='self.clickTreeVirtual' get-label="self.getLabel" get-icon='self.getIcon'
                              run-match='self.runMatch'
                              keep-chidren='true'>
        </wi-tree-view-virtual>
    </div>
    <div class="side-right">
        <div class="menu">
            <div>
                <span ng-click="self.copyOrCut('copy')">
                    <span class="ti ti-files"></span>
                    <div>Copy</div>

                </span>
                <span ng-click="self.copyOrCut('cut')">
                    <span class="ti ti-cut"></span>
                    <div>Cut</div>
                </span>
                <span ng-click="self.paste()">
                    <span class="ti ti-clipboard"></span>
                    <div>Paste</div>
                    <p ng-if="self.pasteList.length">
                        {{self.pasteList.length}}
                    </p>
                </span>
                <span ng-click="self.verify()">
                        <span class="ti ti-check-box"></span>
                    <div>
                        Verify
                    </div>
                </span>
                <span ng-show="self.pasting">
                    Đang paste
                </span>
                <!-- <span ng-click="self.addProjectStorage();">
                    <span class="zone-split-16x16"></span>
                    <div>Add tab</div>
                </span> -->
            </div>
            <div>
                <span>{{self.username}}</span>
                <span ng-click="self.showSetting = !self.showSetting"
                      style="margin-right: 0; background: #4a7def; color: #fff;">
                    <span class="ti ti-settings"></span>
                    <div style="padding-left: 0">Setting</div>
                </span>
            </div>
        </div>
        <div class="workspace">
            <div class="layout-right">
                <span class="tab">
                    <div ng-class="{'active': self.currentTab === -1}"
                         ng-click="self.setCurrentTab(-1);self.onClickFileExplorer(self.adminProjectStorage);">
                        <div class="tab-name">Admin</div>
                    </div>
                    <div class="tab-tab" ng-repeat="tab in self.listProjectStorage track by $index"
                         ng-class="{'active': self.currentTab === $index}">
                        <div class="tab-name"
                             ng-click="self.setCurrentTab($index);self.onClickFileExplorer(self.listProjectStorage[$index].container);">{{tab.label}}</div>
                        <div class="close-tab ti ti-close" ng-click="self.removeProjectStorage($index);"></div>
                    </div>
                    <div ng-click="self.addProjectStorage()" style="position: sticky; right: 0; background: #f4f6f8;">
                        <div class="close-tab ti ti-plus" style="margin-left: 10px;"></div>
                    </div>
                </span>
                <div class="layout-workspace">
                    <div>
                        <file-explorer ng-show="self.currentTab===-1"
                                       ng-click="self.onClickFileExplorer(self.adminProjectStorage);"
                                       url="{{self.fileManager}}" storage-database="self.storageDatabaseAdmin"
                                       id-project="1" set-container="self.setContainerAdmin"
                                       preview-url="{{self.previewUrl}}" hide-import-to-inventory="true">
                        </file-explorer>
                        <wi-droppable ng-repeat="projStorage in self.listProjectStorage track by $index"
                                      ng-show="self.currentTab===$index" style="height: 100%;"
                                      on-drop="self.getFnDrop($index)"
                                      container-style="{'width': '100%', 'height': '100%'}">
                            <file-explorer
                                    ng-click="self.onClickFileExplorer(self.listProjectStorage[$index].container);"
                                    url="{{self.fileManager}}"
                                    storage-database="self.getStorageDatabase($index)" id-project="1"
                                    set-container="self.setContainerProjectStorage($index)"
                                    preview-url="{{self.previewUrl}}" hide-import-to-inventory="true">
                            </file-explorer>
                        </wi-droppable>
                    </div>
                </div>
            </div>
            <div class="setting" ng-class="{'show-setting':self.showSetting}">
                <div class="header">
                    <span class="title">
                        <span class="ti ti-wand" style="margin-right: 15px;"></span>
                        Appearance
                    </span>
                    <span class="sub">Choose your theme or set automatic</span>
                    <div style="display: flex; align-items: center; justify-content: space-between; margin: 20px 0;">
                        <div>Auto change theme with sun time</div>
                        <label class="switch">
                            <input type="checkbox" ng-checked="self.autoChangeThemeCheck">
                            <span class="slider round" ng-click="self.autoChangeTheme = !self.autoChangeTheme"></span>
                        </label>
                    </div>
                    <div style="display: flex; margin-bottom: 20px;justify-content: space-between;"
                         ng-show="!self.autoChangeTheme">
                        <div ng-class="{'active': self.activeTheme === 'light'}"
                             ng-click="self.changeStyle('light'); self.activeTheme = 'light'" class="theme theme1">
                        </div>
                        <div ng-class="{'active': self.activeTheme === 'dark'}"
                             ng-click="self.changeStyle('dark'); self.activeTheme = 'dark'" class="theme theme2"
                             style="margin: 0;">
                        </div>
                    </div>

                </div>
                <div class="header" style="margin-top: 20px;">
                    <span class="title">
                        <span class="ti ti-shortcode" style="margin-right: 15px;"></span>
                        Font size
                    </span>
                    <span class="sub">Select font size for this website</span>
                    <div class="font-size">
                        <div ng-click="self.selectedFontSize = 10; self.changeFontSize('10px')"
                             ng-class="{'choose-font-size':self.selectedFontSize === 10}"></div>
                        <div ng-click="self.selectedFontSize = 12; self.changeFontSize('12px')"
                             ng-class="{'choose-font-size':self.selectedFontSize === 12}"></div>
                        <div ng-click="self.selectedFontSize = 14; self.changeFontSize('14px')"
                             ng-class="{'choose-font-size':self.selectedFontSize === 14}"></div>
                        <div ng-click="self.selectedFontSize = 16; self.changeFontSize('16px')"
                             ng-class="{'choose-font-size':self.selectedFontSize === 16}"></div>
                    </div>
                    <div class="font-size" style="background: none; margin-bottom: 20px;">
                        <span>10</span>
                        <span>12</span>
                        <span>14</span>
                        <span>16</span>
                    </div>
                </div>

                <div class="logout" ng-click="self.logout()">
                    <div>Logout</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div ng-if="self.showSetting"
    style=" width: 100vw; height: 100vh; z-index: 1; top:0; background: #00000026; position: absolute; display: flex; align-items: center; justify-content: center;">
    <div class="dialog-change-theme">
        <div class="header-theme-dialog">
            <span>Appearance</span>
            <span class="ti ti-close" ng-click="self.showSetting = !self.showSetting"
                style="cursor: pointer; font-size: 12px;"></span>
        </div>
        <div class="theme-opiton">
            <div class="theme1" ng-click="self.changeTheme('light')">
                <div class="choose"></div>
                <span>Light</span>
            </div>
            <div class="theme2" ng-click="self.changeTheme('dark')">
                <div class="choose"></div>
                <span>Dark</span>
            </div>
        </div>
    </div>
</div> -->
<script type="text/ng-template" id="templateVerify">
    <div class="ngdialog-buttons ">
        <div class="newDialog slim-scroller">
            <div style=" margin-bottom: 20px; display: flex; align-items: center; justify-content: space-between;">
                <div style="font-weight: bold; font-size: 17px;">
                    Verify
                </div>
                <div style=" display: flex; align-items: center; justify-content: space-between;">
                    <div class="templateVerify-btn" ng-class="{'unsynced':self.verifyStatus === 'unsynced'}" ng-click="self.getFilesInQueue('unsynced')">
                        UNSYNCED
                    </div>
                    <div class="templateVerify-btn" ng-class="{'synced':self.verifyStatus === 'synced'}" ng-click="self.getFilesInQueue('synced')">
                        SYNCED
                    </div>
                    <div class="templateVerify-btn" ng-class="{'all':self.verifyStatus === 'all'}" ng-click="self.getFilesInQueue('all')">
                        ALL
                    </div>
                </div>
            </div>
            <div style="overflow: overlay; max-height: 60vh; padding-right: 15px;">
                <div class="templateVerify-row">
                    <div style="display: block; flex: 1; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">&nbsp;</div>
                    <span ng-click="self.syncVerifyAll()" class="templateVerify-sync-btn" title="Sync All" ng-show="self.verifyStatus === 'unsynced'">SYNC-ALL</span>
                    <span ng-click="self.deleteVerifyAll()" class="templateVerify-del-btn" title="Delete all"><div class="ti ti-close"></div></span>
                </div>
                <div class="templateVerify-row" ng-repeat="(idx, file) in self.verifyList"  >
                    <div style="display: block; flex: 1; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                        {{file.name}}
                    </div>
                    <div style="flex-basis: 100px">
                        <span ng-click="self.syncVerify(file, idx)" class="templateVerify-sync-btn" ng-disabled="file.status === 'synced'">{{file.status === 'synced' ? 'SYNCED': 'SYNC'}}</span>
                        <span ng-click="self.deleteVerify(file, idx)" class="templateVerify-del-btn">
                            <div class="ti ti-close"></div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>