<div class="slim-scroller" id="app">
    <div class="side-left">
        <wi-tree-view-virtual tree-root="self.listUser" hide-unmatched='true' get-children="self.getChildren"
            click-fn='self.clickTreeVirtual' get-label="self.getLabel" get-icon='self.getIcon' run-match='self.runMatch'
            keep-chidren='true'>
        </wi-tree-view-virtual>
    </div>
    <div class="side-right">
        <div class="menu">
            <div>
                <span ng-click="self.copyOrCut('copy')">
                    <span class="copy-16x16"></span>
                    <div>Copy</div>
                </span>
                <span ng-click="self.copyOrCut('cut')">
                    <span class="zone-split-16x16"></span>
                    <div>Cut</div>
                </span>
                <span ng-click="self.paste()">
                    <span class="copy-16x16"></span>
                    <div>Paste</div>
                </span>
                <span ng-click="self.addProjectStorage();">
                    <span class="zone-split-16x16"></span>
                    <div>Add tab</div>
                </span>
            </div>
            <div>
                <span ng-click="self.showTheme = !self.showTheme" class="ti ti-palette">
                </span>
                <span ng-click="self.copyOrCut('copy')" style="margin-right: 0;">
                    <div style="padding-left: 0">LOGOUT</div>
                </span>
            </div>
        </div>
        <div class="workspace">
            <!-- <div class="layout-left" resizable r-directions="['right']" r-flex="true">
                <span class="tab">
                    <div class="active">
                        <div>Admin tab</div>
                    </div>
                </span>
                <div class="layout-workspace">
                    <div class="layout-2">
                        <file-explorer ng-click="self.onClickFileExplorer(self.adminProjectStorage);"
                            url="http://file-backend.dev.i2g.cloud" storage-database="self.storageDatabaseAdmin"
                            id-project="1" set-container="self.setContainerAdmin">
                        </file-explorer>
                    </div>
                </div>
            </div> -->
            <div class="layout-right">
                <span class="tab">
                    <div ng-class="{'active': self.currentTab === -1}" ng-click="self.setCurrentTab(-1);">
                        <div>Admin</div>
                    </div>
                    <div ng-repeat="tab in self.listProjectStorage track by $index"
                        ng-class="{'active': self.currentTab === $index}">
                        <div ng-click="self.setCurrentTab($index);">{{tab.label}}</div>
                        <div style="margin-left: 10px;" class="ti ti-close" ng-click="self.removeProjectStorage();"></div>
                    </div>
                </span>
                <div class="layout-workspace">
                    <div>
                        <file-explorer ng-show="self.currentTab===-1"
                            ng-click="self.onClickFileExplorer(self.adminProjectStorage);"
                            url="http://file-backend.dev.i2g.cloud" storage-database="self.storageDatabaseAdmin"
                            id-project="1" set-container="self.setContainerAdmin">
                        </file-explorer>
                        <wi-droppable ng-repeat="projStorage in self.listProjectStorage track by $index"
                            ng-show="self.currentTab===$index" style="height: 100%;" on-drop="self.getFnDrop($index)"
                            container-style="{'width': '100%', 'height': '100%'}">
                            <file-explorer
                                ng-click="self.onClickFileExplorer(self.listProjectStorage[$index].container);"
                                url="http://file-backend.dev.i2g.cloud"
                                storage-database="self.getStorageDatabase($index)" id-project="1"
                                set-container="self.setContainerProjectStorage($index)">
                            </file-explorer>
                        </wi-droppable>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
<div ng-if="self.showTheme"
style="width: 100vw; height: 100vh; z-index: 1; top:0; background: #00000026; position: absolute;">
    <div class="dialog-change-theme">
        <div class="header-theme-dialog">
            <span>Appearance</span>
            <span class="ti ti-close" ng-click="self.showTheme = !self.showTheme" style="cursor: pointer; font-size: 12px;"></span>
        </div>
        <div class="theme-opiton">
            <div class="theme1" ng-click="self.changeTheme('light')">
                <div class="choose"></div>
                <span>Light</span>
            </div>
            <div class="theme2" ng-click="self.changeTheme('dark')">
                <div class="choose"></div>
                <span>Dark</span>
            </div>
        </div>
    </div>
</div>